{% load menu_tags %}

<nav class="bg-amber border-b border-opacity-75 border-amber-300 dark:bg-amber-900 dark:text-white ">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16 ">
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                <div>
                <button type="button" data-dropdown-toggle="dropdown" class="relative inline-flex items-center justify-center rounded-md p-2 text-white-400 hover:bg-amber-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                    <span class="absolute -inset-0.5"></span>
                    <span class="sr-only"></span>
                    <!--
                      Icon when menu is closed.
                
                      Menu open: "hidden", Menu closed: "block"
                    -->
                    <svg class="block size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                    <!--
                      Icon when menu is open.
                
                      Menu open: "block", Menu closed: "hidden"
                    -->
                    <svg class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                    
                </button>
               
                </div>
                <div class="hidden sm:block sm:ml-6 ">
                    <div class="flex space-x-4 ">
                    {% main_menu template="menu/main_desktop_menu.html" %}
                    </div>
                </div> 
                    
            </div>
            <div class="sm:hidden" id="mobile-menu">
    
                <div class="space-y-1 px-2 pb-3 pt-2">
                        
                {% main_menu template="menu/main_mobile_menu.html" %}
                    
                </div>
        </div>  
    </div>
</nav>



    
